<div class="container">
  <div class="row">
    <%= label_tag :title, t('edit_task'), class: 'title' %>
    <hr />
    <%= form_for @task, url: task_path(@task), method: :put do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
      <%= f.submit 'Register', class: 'btn btn-info', style: 'font-size: 16px; float: right;' %>
    <% end %>
    <%= button_to 'Back', tasks_path, method: :get, class: 'btn btn-warning btn-back link-color' %>
  </div>
</div>
