<div class="container">
  <div class="row">
    <%= label_tag :title, t('.new_label'), class: 'title' %>
    <hr />
    <%= form_for @label, url: labels_path do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
      <%= f.submit 'Register', class: 'btn btn-info', style: 'font-size: 16px; float: right;' %>
    <% end %>
    <%= button_to 'Back', tasks_path, method: :get, class: 'btn btn-warning btn-back link-color' %>
  </div>
  <br><br>
  ==Present Labels==<br>
  <% @labels.pluck(:name).uniq.sort.each do |l| %>
    <%= l %><br>
  <% end %>
  ==Present Labels==

</div>
