  <div>
    <table>
      <tr>
        <td><%= f.label :name, t('.name') %></td>
        <td><%= f.text_field :name  %></td>
      </tr>
      <tr>
        <td><%= f.label :email, t('.email') %></td>
        <td><%= f.text_field :email  %></td>
      </tr>
      <tr>
        <td><%= f.label :password, t('.password') %></td>
        <td><%= f.text_field :password  %></td>
      </tr>
    </table>
  </div>
