<!DOCTYPE html>
<html>
  <head>
    <title>Manyo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="menu">
        <% if login? %>
        <%= link_to "Edit Profile", edit_user_path(id: current_user.id) %>
          <%= link_to "Sign Out", session_path(id: current_user.id), method: :delete %>
          <%= link_to "Delete Account", user_path(id: current_user.id), method: :delete, data: { confirm: 'Are you sure you want to delete?' }, class: 'btn btn-danger btn-new link-color' %>
          <% if current_user.admin? %>
            <%= link_to "Admin", admin_users_path %>
          <% end %>
        <% else %>
          <%= link_to "Login", new_session_path %>
          <%= link_to "Sign Up", new_user_path %>
        <% end %>
      </div><br>


    <hr>
    <%= yield %>
  </body>
</html>
